ion-content {
  --padding-top: 16px;
  
  .content-col {
    --ion-grid-column-padding: 0px;
  }

  .add-photo-wrapper {
    justify-content: center;
  }

  .user-image {
    --size: 150px;
    margin: auto;
  }
}

ion-toolbar {
  --background: #b64fd8;
}

