<ion-content padding class="background">
  <br>
  <br>
  <ion-toolbar>
    <ion-title size="large" class="ion-text-center">POLI BOOKS</ion-title>
  </ion-toolbar>
  
  <div class="one ion-text-center">
    <button><h4>BIENVENIDOS</h4></button>
  </div>

  <div class="two ion-text-center">
    <button><h4>A</h4></button>
  </div>

  <div class="three ion-text-center">
    <button><h4>POLI BOOKS</h4></button>
  </div>
 
  <div class="container ion-text-center">
    <!-- <img src="assets/poli-book.png"> -->
    <img src="https://media.istockphoto.com/vectors/owl-with-books-and-graduate-cap-vector-id492966336?b=1&k=6&m=492966336&s=170667a&w=0&h=QuH2fv-obJRtClzZ7TG3qfvudwOEDmlZLfGG0N_nE0I=">
    <br>
  </div>

  <footer>
  <!-- <div class="four ion-text-right">
    <button style="background:white;">Creado por Majo</button>
  </div> -->
</footer>

  

</ion-content>
